body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  /* position: relative; */
}

header {
  position: relative;
}
.top {
  height: 170px;
  display: flex;
  font-size: 14px;
  /* position: sticky; */
  position: relative;
  font-weight: 500;
  margin-block-start: 20px;
  margin-inline: 50px;
  justify-content: space-between;

  .first {
    margin-inline-start: 20px;
    display: flex;
    align-items: center;
    height: 55px;
    /* margin-top: 5px; */
  }
  .second {
    display: flex;
    align-items: center;
    padding-left: 100px;
    color: #0000009e;
    height: 55px;
    margin-left: 20px;
  }
  .third {
    margin-inline-end: 20px;
    display: flex;
    height: 55px;
    align-items: center;
    /* margin-top: 5px; */
  }
}
.prof {
  width: 30px;
  padding: 5px;
}
.second:hover {
  color: red;
}

/* <!-- search section  --> */

.sea {
  position: absolute;
  font-size: 0.9rem;
  top: 0;
  /* right: 0; */
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: rgba(0, 0, 0, 0.689);
  width: 100%;
  max-width: 850px;
  /* position: sticky; */
  margin-top: 80px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 90px;
  flex-grow: 0;
  box-shadow: 0 0 10px rgba(1, 2, 2, 0.2);
}
.alpha {
  /* height: 70px; */
  /* padding-inline: 40px; */
  align-items: center;
  padding-left: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.156);
}
.who {
  border-right: none;
}
.one {
  /* height: 70px; */
  border-left: 0;
  align-items: center;
  /* margin-inline: -25px; */
}
.sec {
  display: flex;
  align-items: center;
}
.srd {
  width: 50px;
  display: flex;
  margin-right: -5px;
  align-items: center;
}
.sea :hover {
  background-color: #00000000;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  /* padding-left: 10px; */
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  transition: all 0.3s ease-in-out;
}
.srd:hover {
  width: 52px;
  /* border: 1px solid rgb(239, 21, 21); */
  /* border-radius: 50%; */
}
header {
  position: sticky;
}

/* mid section */
.div {
  height: 100%;
  max-height: 200px;
  position: sticky;
  display: flex;
}
.btn {
  /* background-color: #002fff49; */
  padding: 10px 10px;

  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  /* margin-left: 10px; */
  /* height: 50px; */
  /* width: 100px; */
  transition: background-color 0.3s ease-in-out;
}
button {
  font-weight: bold;
  /* font: 1 sans-serif; */
  height: 40px;
  width: 120px;
  padding: 5px;
}

/* middle section */
.div {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 100%;
  max-height: 300px;
  position: sticky;
  margin-inline: 80px;
}

.ico {
  position: sticky;
  top: 0;
  /* background-color: cyan; */
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  padding: 5px 10px;
  width: 100%;
  max-width: 1020px;
  overflow-x: scroll;
}
.ico::-webkit-scrollbar {
  display: none;
}
.icons {
  width: 100%;
  max-width: 20px;
  margin: 5px 0px;
  /* padpx 10px; */

  /* font-size: small; */
}
.aa {
  font-size: small;
  padding: 0px 50px;
  /* display: flex; */
  text-align: center;
  /* justify-content: center; */
}

.icons:hover {
  max-width: 25px;
  transition: 0.4s;
}
.aa:hover {
  font-weight: bold;
  /* font-style: italic; */
  transition: 0.5s;
}
.book {
  font-size: 12px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.819);
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.495);
  border-radius: 10px;
  width: 95px;
}
.bvn {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.819);
  letter-spacing: 0.5px;
  height: 50px;
  width: 220px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid rgba(128, 128, 128, 0.445);
}
.bsnl {
  align-items: center;
  padding: 20px;
}

.book:hover {
  background-color: rgba(211, 211, 211, 0.314);
  border: 1px solid gray;
}

.bvn:hover {
  background-color: rgba(211, 211, 211, 0.314);
  border: 1px solid gray;
}

/* card section */
.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 20px;
  /* flex-shrink: ; */
  /* background-color: yellowgreen; */
  margin: 10px 80px;
  /* width: 100%; */
  /* max-width: 320px; */
}
.card {
  box-sizing: border-box;
  border-radius: 10px;
  /* background-color: yellow; */
  letter-spacing: 0.3px;
  width: 320px;
  height: 430px;
  margin-bottom: 20px;
}
.img {
  border-radius: 10px;
  height: 325px;
  width: 100%;
  margin-bottom: 10px;
}
.txt {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}
.flex {
  /* display: flex; */
  background-color: red;
}
.card:hover {
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.295);
  transition: 0.3s;
  width: 335px;
  height: 465px;
}
